<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender" placeholder="Choose your gender">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Time</ion-label>
      <ion-select [(ngModel)]="time" placeholder="How much time has passed since you last ingested alcohol">
        <ion-select-option value="1">1 hour</ion-select-option>
        <ion-select-option value="2">2 hours</ion-select-option>
        <ion-select-option value="3">3 hours</ion-select-option>
        <ion-select-option value="4">4 hours</ion-select-option>
        <ion-select-option value="5">5 hour</ion-select-option>
        <ion-select-option value="6">6 hours</ion-select-option>
        <ion-select-option value="7">7 hours</ion-select-option>
        <ion-select-option value="8">8 hours</ion-select-option>
        <ion-select-option value="9">9 hour</ion-select-option>
        <ion-select-option value="10">10 hours</ion-select-option>
        <ion-select-option value="11">11 hours</ion-select-option>
        <ion-select-option value="12">12 hours</ion-select-option>
        <ion-select-option value="13">13 hour</ion-select-option>
        <ion-select-option value="14">14 hours</ion-select-option>
        <ion-select-option value="15">15 hours</ion-select-option>
        <ion-select-option value="16">16 hours</ion-select-option>
        <ion-select-option value="17">17 hours</ion-select-option>
        <ion-select-option value="18">18 hours</ion-select-option>
        <ion-select-option value="19">19 hours</ion-select-option>
        <ion-select-option value="20">20 hour</ion-select-option>
        <ion-select-option value="21">21 hours</ion-select-option>
        <ion-select-option value="22">22 hours</ion-select-option>
        <ion-select-option value="23">23 hours</ion-select-option>
        <ion-select-option value="24">24 hours</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Bottles</ion-label>
      <ion-select [(ngModel)]="bottles" placeholder="How many bottles of alcohol have you ingested">
        <ion-select-option value="1">1 bottle</ion-select-option>
        <ion-select-option value="2">2 bottles</ion-select-option>
        <ion-select-option value="3">3 bottles</ion-select-option>
        <ion-select-option value="4">4 bottles</ion-select-option>
        <ion-select-option value="5">5 bottles</ion-select-option>
        <ion-select-option value="6">6 bottles</ion-select-option>
        <ion-select-option value="7">7 bottles</ion-select-option>
        <ion-select-option value="8">8 bottles</ion-select-option>
        <ion-select-option value="9">9 bottles</ion-select-option>
        <ion-select-option value="10">10 bottles</ion-select-option>
        <ion-select-option value="11">11 bottles</ion-select-option>
        <ion-select-option value="12">12 bottles</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Promilles</ion-label>
      <ion-input name="promilles" value="{{promilles | number : '1.2-2'}}" readonly></ion-input>
    </ion-item>

  </ion-list>
  <div padding>
    <ion-button expand="block" (click)="calculate()">calculate</ion-button>
  </div>

</ion-content>